@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  margin-right: 1rem;
}

.positive {
  color: green;
  font-size: smaller;
}

.negative {
  color: red;
  font-size: smaller;
}